body{
    padding: 0px;
    margin: 0 auto;
}

.kv{
    width: 100px;
    height: 100px;
    /*background: red;
    */
    background-image:url("https://st2.depositphotos.com/1216158/6811/v/600/depositphotos_68110753-stock-illustration-volute-spiral-abstract-pattern.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    /*position: absolute;
    */animation-name: kanan;
    animation-duration:1s;
    border-radius:50%;
    /*left: 50px;
    top: 50px;
    */animation-timing-function: linear;
    animation-iteration-count:infinite;
    /*animation-name: kanan;
    animation-duration:4s;
    *//*animation-delay:-3s;
    *//*animation-timing-function: linear;
    animation-fill-mode: forwards;
    *//*animation-iteration-count:1;
    *//*animation-direction:alternate-reverse;
    *//*transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    *//*animation: kanan 2S  delay iteration-count direction fill-mode;
    *//*-webkit-animation: kanan duration timing-function delay iteration-count direction fill-mode;
    */:;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}


@keyframes kanan {
    0%{
        /* background: red; */
        /* top: 0px;
        left: 0px; */
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}

    25%{
        /* background: blue; */
        /* top: 0px; */
        /* left: 300px; */
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}

    50%{
        /* background: purple; */
        /* top: 300px;
        left: 300px; */
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}

    75%{
        /* background: yellow; */
        /*top: 300px;
        left: 0px;
        */transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
}

    100%{
        /* background: green; */
        /*top: 700px;
        left: 0px;
        */transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
}
}


@keyframes sevindik{
    from{
        background: red;
    }

    to{
        background: yellow;
    }
}


@keyframes nargiz{
    from{
        background: purple;
    }

    to{
        background: green;
    }
}